spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ENC(z61gICWIRHVJt8l5Z8T5eeF8Lns2kqDM2yhS/cvKgq69YzeWVREvLnah0yI85Lhp70gHOnQLldvV1SJ8urlnX1fuhWU8CE81vRvu73XuR/TCoARA/ifaCxDAsNvwmT+D+eJtsnjVIZa1sDg6oKQSuFKZ8ZPfWxPM)
    username: ENC(MhpbnQ6zaisNbaA5eglung==)
    password: ENC(5hQDKxFH/RxTU2YwBekk5w==)
#  cache:
#    type: redis
#    redis:
#      cache-null-values: true
#      time-to-live: 180
#  redis:
#    host: localhost
#    port: 6379

  jpa:
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
    hibernate:
      ddl-auto: update
      jdbc:
        time_zone: Asia/Seoul
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect

  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

  security:
    oauth2:
      client:
        registration:
          kakao:
            client-id: ENC(QKkAUvXFqfT0EmsimclU6BMcSaeqnMsh3M6U/mcXhdULtdqYIhFnGUcw0OKoONEl)
            client-secret: ENC(qPi02EI9wMf1mObGXvWx7VaFN7GS6h0ju1njb1w9TR8Z2kGsdCC2reh3FHPRdhE2)
            scope:
              - profile_nickname
              - account_email
            redirect-uri: ENC(rXhaxm6bfR0iwf/YpdOuASOyKox1ZoM1m0GaYhHjfpo6gitbgje0iAHZd76v+EJPK1UWxfyp0zTgzY6k9mmjJw==)
            client-authentication-method: POST
            authorization-grant-type: authorization_code
            client-name: kakao

        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

jwt:
  firstKey: ENC(8AQYPjsMGj+5cI2XJmilp3QKsMS9CkwhEiwijnkxTxBUsjJf+7dhHxEM2V/W4oWLiyCj3MNDp1+FlVYsoBENRwjrihlyh8gNmfcvf93j47o=)
  secondKey: ENC(v94WBS6eJJakpbkdUsjs12ZYV3qTFd5Nf2aox8Ath47rYxN+1/X/2u/Hfynlt+biK49Lu0iYKncVEr8TYcROgf6XXuaDqGGX)
  thirdKey: ENC(JCimNz/aAkb221yp5rf3d7zdz/6ny63Emb9DOkABlx/sdSLIGmd+BzUPcq8CvWBvQfGzUOGQqqUcF3m8u8g/Aas5dL/l4LwbviMJPbdFiqU=)

server:
  port: 28080
  ssl:
    enabled: true
    key-store: classpath:tps-keystore.p12
    key-store-type: PKCS12
    key-store-password: ENC(AUn0a7vsM+n/Awsz0Gj6FD5/tOd6lrD8)

cloud:
  aws:
    credentials:
      accessKey: ENC(vsZfDPJokKkGGN8+NS/z0DxC4/eaBvbgzutx35Fe+v8=)
      secretKey: ENC(vjOrO9pgPfp0Dwj7aJB6GRPFUFuQLImzl7G6fT99w4s5sYdbxpZjr+arNGbGa8B3etKasIPaAfM=)
    s3:
      bucket: ENC(LFmFgkl/ZzU1uNpCVld/f21rkwsBztwrFoWbcPSPghg=)
    region:
      static: ap-northeast-2
    stack:
      auto: false